input[type="button"]{
	background-color: #ebedf0;
	text-align: center;
	color:black;
	padding: 10px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: 30px,25px;
	background-repeat: no-repeat;
	background-position: center, center right;
}

input[type="button"]:hover{
	color: black;
	cursor: pointer;
	background: #507fad;/* Меняем фоновый цвет */
	color: white; /* Меняем цвет текста */
	box-shadow: inset 0 0 0 3px white; /* Меняем тень */
	background-repeat: no-repeat;
	background-position: center;
}

div{
	margin-top: 10px;
}

p.pFile{
	font-size: 10px;
	margin: 0;
}

.divRow {
	text-align:center;	
	border-radius: 7px;
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 10px;
	padding: 10px;
	background-color: #77b7f7;
}

#divBtnAction{
	height: auto; 
	margin-top: 0px; 
	margin-bottom: 10px;
}

.levelBattery { 
	border-radius: 3px;
	height: 30px;
	width: 100px;
	position: relative;
	margin: 0 auto;
	background: #555;
	padding: 2px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	margin-bottom: 30px;
}

.levelBattery::after{
	content: '';
	position: absolute;
 	border-top-left-radius: 2px;
 	border-bottom-left-radius: 2px;
	width: 5px;
	height: 15px;
	background: #555;
	left: -5px;
	top: 9px;
}

.levelBattery::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 30px;
	border-radius: 2px;
	background: white;
	left: 2px;
	top: 2px;
}

.levelBattery > span {
	background-image: url(gif/endlessLoading.gif);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
  display: block;
  height: 100%;
  border-radius: 2px;
  background-color: red;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

#textV{
	position: absolute;
	font-size: 14px;
	margin-top: -23px;
	margin-left: 34px;
}

#textSafe{
	font-size: 22px; 
	margin-top: 0px; 
	margin-bottom: 0px;
}

.doorIsClose{
 border: none;
 background-color: transparent;
}

.doorIsOpen{
	border: thick double #ff0000;
	background-color: #ed7b7b;
	border-radius: 5px;
}

#btnPS,#btnSettings {
	width: 65%;
	margin-top: 10px;
}

@media(max-width: 350px){
	p{
		font-size: 14px;
	}
	#btnPS,#btnSettings{
		font-size: 10px;
	}
	#btnOpen,#btnClose{
		width: 25%;
	}
}

@media(max-width: 600px) and (min-width: 351px){
	p{
		font-size: 14px;
	}
	#btnPS,#btnSettings{
		font-size: 12px;
	}
	#btnOpen,#btnClose{
		font-size: 12px;
		width: 30%;
	}
}


@media(max-width: 1000px) and (min-width: 601px){
	p{
		font-size: 18px;
	}
	#btnPS,#btnSettings{
		font-size: 14px;
	}
	#btnOpen,#btnClose{
		font-size: 14px;
		width: 25%;
	}
}

@media(min-width: 1001px){
	p{
		font-size: 22px;
	}
	#btnPS,#btnSettings{
		font-size: 16px;
	}
	#btnOpen,#btnClose{
		font-size: 16px;
		width: 30%;
	}
}



